#countLabel{
display: block;
text-align:center;
font-size:10em;
font-family: Helvetica;
}
#btnContainer{
    text-align:center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(255, 0, 247);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:rgb(40, 158, 179)
}
body {
    background:radial-gradient(circle,blue,black); 
}
h1{
    text-shadow: 8px;
    text-decoration: underline;
    text-align: center;
   font-size: 60px;
}